body{
background-color: rgb(212, 212, 212);

}



.header { background-color: black;
    color: white;
    background-position: left;
    width: 100%
    

}

.header-title {
color: white;
text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    margin-left: 304px;
    margin-bottom: -94.8px;
    margin-left: 297px;
    


}
.header-brand{
    background-color: aquamarine;
}


.logo {
    height: 9rem;
    top: 30px;
    bottom: 30px;
    position: relative;
    left: 10rem;
}

.header__nav {
    text-shadow: 0px 0px 4px #000;
}

.header__nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 7rem;
    position: relative;
    bottom: 50px;
    right: 120px;
}

.header__nav a {
    color: gray;
    font-size: 2rem;
}